.header__container {
    width: 80%;
    height: 250px;
    border: 4px black solid;
    border-top: none;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 40px 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}