<div class="info-box" (mouseenter)="makeImageMaxSize()" (mouseleave)="makeImageMinSiza()">
    <div class="container">

        <div class="row justify-content-center">

            <div class="col-12">
                <h3 
                class="info-title mt-3">
                    {{Title}}
                </h3>
            </div>

            <div class="col-12 info-box__image-col">
                <img 
                [src]="ImgUrl" 
                [ngClass] = " maxImage == true ? 'info-img__max' : '' "
                class="mt-2 info-img"
                [alt]="Title">
            </div>

            <div class="col-12 info-desc mt-4">
                {{Desc}}
            </div>
        </div>
    </div>

</div>