.info-box {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 500px;
    width: 100%;
    transition: all 0.5s;
    background-color: rgba(167, 167, 167, 0.034);
}

.info-box:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
}

.info-box__image-col {
    text-align: center;
}

.info-img {
    border-radius: 5%;
    width: 90%;
    transition: all 0.5s;
}

.info-img__max {
    width: 100%;
}

.info-title {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.info-desc {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(139, 139, 139);
}